/* Estilos para el cuerpo del documento */
body {
    font-family: var(--font-family); /* Define la fuente del texto */
    background-color: #f0f0f0; /* Color de fondo del cuerpo */
    display: flex; /* Usa el modelo de caja flexible para el cuerpo */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    height: 100vh; /* Ocupa el 100% del alto visible del viewport */
    margin: 0; /* Elimina el margen exterior */
}
  
/* Estilos para el contenedor principal */
.container-login {
    background-color: #D9D9D9; /* Color de fondo del contenedor */
    padding: 20px; /* Espaciado interno del contenedor */
    border-radius: 8px; /* Borde redondeado del contenedor */
    width: 450px; /* Ancho del contenedor */
    height: 600px; /* Altura del contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilos para el contenedor del logo */
.logo-container {
    padding: 10px;
    border-radius: 4px;
    text-align: center; /* Para centrar el contenido */
}
  
/* Estilos para las imágenes dentro del contenedor del logo */
.logo-container img {
    max-width: 100px; /* Máximo ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    display: block; /* Para alinear correctamente la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}
  
/* Estilos generales para el formulario */
form {
    margin-bottom: 0; /* Elimina el margen inferior del formulario */
}
  
/* Estilos para los contenedores de campos de entrada */
.input-container {
    padding: 10px; /* Espaciado interno del contenedor del campo de entrada */
    border-radius: 4px; /* Borde redondeado del contenedor del campo de entrada */
    margin-bottom: 10px; /* Margen inferior del contenedor del campo de entrada */
}
  
/* Estilos para las etiquetas de los campos de entrada */
.form-label {
    display: block; /* Muestra la etiqueta como bloque */
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 5px; /* Margen inferior de la etiqueta */
}
  
/* Estilos para los campos de texto y contraseña */
.form-input {
    width: calc(100% - 20px); /* Ancho del campo de entrada */
    border: 1px solid #ccc; /* Borde del campo de entrada */
    border-radius: 4px; /* Borde redondeado del campo de entrada */
    padding: 8px; /* Espaciado interno del campo de entrada */
}
  
/* Estilos para el botón de enviar y enlaces */
.enlace-boton {
    background-color: #fff; /* Color de fondo */
    color: #000; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cursor apuntador */
    display: block; /* Mostrar como bloque */
    text-align: center; /* Centrado horizontal */
    margin: 20px auto 0; /* Margen superior y centralizado */
    width: 150px; /* Ancho del botón/enlace */
    box-sizing: border-box; /* Incluir padding y borde en el ancho total */
    padding: 12px; /* Espaciado interno */
}

/* Estilos para el contenedor del enlace olvidar */
.enlace-olvidar {
    text-align: center; /* Centrado horizontal del contenido */
    margin-top: 20px; /* Margen superior */
}

/* Estilos para el enlace olvidar */
.forgot-link {
    text-decoration: none; /* Sin subrayado para el enlace */
    cursor: pointer; /* Cursor apuntador */
}

/* Al pasar el ratón por encima del enlace */
.forgot-link:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

/* Estilos específicos para los botones */
.btn {
    width: 100%; /* Ancho al 100% del contenedor */
}

/* Estilos específicos para la página de registro */
#registro-container {
    background-color: #D9D9D9; /* Color de fondo del contenedor */
    padding: 20px; /* Espaciado interno del contenedor */
    border-radius: 8px; /* Borde redondeado del contenedor */
    width: 450px; /* Ancho del contenedor */
    height: 600px; /* Altura del contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    margin: 0 auto; /* Centra horizontalmente */
}

#registro-container h1 {
    text-align: center; /* Centra el texto horizontalmente */
}

#registro-container p {
    text-align: center; /* Centra el texto horizontalmente */
}

#registro-container form {
    margin: 0; /* Elimina el margen inferior del formulario */
}

#registro-container button {
    background-color: #fff; /* Color de fondo blanco */
    color: #000; /* Color del texto negro */
    border: none; /* Sin borde */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cursor apuntador */
    display: block; /* Mostrar como bloque */
    text-align: center; /* Centrado horizontal */
    margin: 20px auto 0; /* Margen superior y centralizado */
    width: 150px; /* Ancho del botón */
    box-sizing: border-box; /* Incluir padding y borde en el ancho total */
    padding: 12px; /* Espaciado interno */
}

/* Estilos para el contenedor específico de registro */
.registo__enlace-boton {
    background-color: #fff; /* Color de fondo */
    color: #000; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cursor apuntador */
    text-align: center; /* Centrado horizontal */
    width: 430px; /* Ancho del contenedor */
    height: 300px; /* Altura del contenedor */
    box-sizing: border-box; /* Incluir padding y borde en el ancho total */
    padding: 20px; /* Espaciado interno */
    margin: 20px auto 0; /* Margen superior y centralizado */
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

/* Estilos adicionales para el enlace del botón de registro */
.enlace-boton__registro {
    padding: 22px 0; /* Espaciado interno adicional para el enlace */
}

.register__button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff; /* Cambia este color según tu preferencia */
    margin-bottom: 10px;
    color: white; /* Color del texto del botón */
    text-align: center;
    text-decoration: none; /* Esto quita la línea de subrayado */
    border-radius: 5px; /* Bordes redondeados */
    border: none;
    cursor: pointer;
    font-size: 16px; /* Ajusta el tamaño de la fuente según sea necesario */
    margin: 0 auto; /* Centrará el botón en un contenedor con `text-align: center` */
}

a.register__button {
    text-decoration: none; /* Asegura que el enlace no tenga subrayado */
}

/* Centrar horizontalmente el contenedor del registro */
#registro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: #f3f3f3;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
    border-radius: 10px;
}
.icon-container {
    margin-bottom: 20px;
}
.icon-large {
    font-size: 140px; 
}
.form-container {
    margin: 20px 0;
}
.form-container input {
    width: calc(100% - 20px); 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn-submit {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff; 
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 0;
}
.btn-submit:hover {
    background-color: #0056b3;
}
.link {
    color: rgba(0, 0, 0, 0.911); 
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}